
nav {
    font-size: 18px;
    background-color: rgba(210, 210, 210,0.2);
}
.text {
    font-weight: 600;
    font-family: "Work Sans", sans-serif;
}
span{
    font-size: 15px;
}

.linea {
    background-color: rgba(128, 128, 128,0.2);
    height:20px;
    text-align:center;
}
.icon {
    font-size:30px;
}

.cardImages {
    height: 200px;
    max-width: 200px;
}

.cardFilter {
    height: 120px;
    display: flex;
}

.buttonFilter {
    max-width: 100%;
}



td{
    align-content: center;
}

body {
    background-color: #eeeeee;
}

.tabla {
    background-color: #eeeeee;
    color: #eeeeee;
    accent-color: #eeeeee;

}

.cardProd {
    transition: transform 0.3s ease; /* Añade una transición suave */
}

.cardProd:hover {
    transform: scale(1.05); /* Ajusta el valor para el nivel de zoom deseado */
}