body {
    padding-top: 2px;
}
nav {
    font-size: 18px;
    background-color: rgba(210, 210, 210,0.1);
}
.text {
    font-weight: 600;
    font-family: "Work Sans", sans-serif;
}
span{
    font-size: 15px;
}

.linea {
    background-color: rgba(128, 128, 128,0.2);
    height:20px;
    text-align:center;
}
.icon {
    font-size:30px;
}


